node_modules/**/*
.expo/*
.expo-shared/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

# ide
.idea

# Android
android/build
android/app/build
android/local.properties
android/.gradle

# ios
/ios/ReactNativeBrickBreaker.xcworkspace/xcuserdata
/ios/ReactNativeBrickBreaker.xcodeproj/project.xcworkspace/xcuserdata
